.img-responsive-180 {
    max-width: 100%;
    width: 180px;
}

.img-responsive-80 {
    max-width: 100%;
    width: 80px;
}

.text-wrap {
    inline-size: 180px;
    overflow-wrap: break-word;
}

.text-link {
    text-decoration: none;
}

.span-red{ 
    color: #ff0000; 
    font-size: 16px;
}